DATABASE_URL=postgresql://postgres:password@xxx.supabase.co:5432/postgres?sslmode=require
SUPABASE_URL=https://xxx.supabase.co
SUPABASE_KEY=your_key
SECRET_KEY=degistir-bunu-rastgele-uzun-bir-deger-olsun
ACCESS_TOKEN_EXPIRE_MINUTES=60
